html{
    height: auto;
    ;
}
body{
    font-size: 16px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
   

}

h1{
    font-family: 'Merriweather', serif;
    font-size: 3rem;
}
h2{
    font-size: 1.5rem;
}

/* nav style*/

.navbar{
    position: fixed; top: 0; left: 0;
    height: 100%;
    display: flex;
    border: 1px solid black;
    background-color: black;
    align-items: center;
}
.navbar ul{
    text-align: center;
    padding-left: 0;
    padding-top: auto;
    padding-bottom: auto;
}
.navbar li{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 1.5rem;
    border: 1px solid black;
    margin: 4rem .5rem;
    padding: .5rem .5rem;
    color: white;
}
.navbar li:hover{
    border: solid 1px rgba(255, 131, 0, 1);
    background-color: rgba(255, 131, 0, 1);
    border-radius: 1rem;
    cursor: pointer;
}

.intro {
   width: 90%;
   height: auto;
   justify-content: space-between;
   position: absolute; top: 1rem; left: 5rem; 
   display: flex;
   flex-wrap: wrap;
}

 .blurb1{
  display: block;  
  width: 30%;
  margin-top: 2rem;
  margin-left: 9rem;
  word-spacing: .5rem;
  letter-spacing: .2rem;
  line-height: 2.5rem;
  z-index: 1;
}
.blurb1 h1{
   width: 37.5rem;
   margin-left: 0rem;
}
 .blurb1 h2{
    margin-top: 2rem;
    margin-left: 2rem;
 }
 .blurb2{
   margin-top: 10rem;
   word-spacing: .5rem;
   letter-spacing: .2rem;
   width: 40%;
   z-index: 1;
   line-height: 2.5rem;
}

.headshot{
    width: 80%;
    position: absolute; top: 8rem; left: 10rem;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
}
.headshot img{
    width: 100%;
    height: auto;
    z-index: 0;
} 

